<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
	</head>
	<body>
		<header>
			<h1 class="title jumbotron"> <%= city.name %><br> <a class="home" href="/">Home</a><br><a class="home" href="/cities">City Index</a></h1>

		</header>
		<div class="main main-city-container">
		<main>
			
			<form action="/cities/<%= city._id %>?_method=PUT" method="POST">
				<input class="login" type="text" name="name" value="<%= city.name %>"/><br/>
				<input class="btn btn-dark" type="submit" value="Update City"/>
			</form>
		</main>
		</div>
	</body>
	<footer>
		<p class="footer">Eat, drink, and be merry. Tomorrow you may die</p>
	</footer>
</html>