<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="title jumbotron">Cities<br> <a class="home" href="/">Home</a></h1>
        <nav>
            <% if(city.length > 0) { %>
                <h2 class="lower-title">Your Cities</h2>
                <% } %>
            <ul class="nav nav-pills nav-fill">
        
                <li class="nav-item">
                    <a class="nav-link" href="/cities/new">Create a New City</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
    <main>
 
        <ul class="nav nav-pills nav-fill">
            <% for(let i = 0; i < city.length; i++) { %>
                <li class="nav-item">
                    <a class="city-links" href="/cities/<%= city[i]._id %>"><%= city[i].name %></a>
                </li>
            <% } %>
        </ul>
    </main>
    </div>
    <footer>
        <p class="footer">Eat, drink, and be merry. Tomorrow you may die</p>
    </footer>
</body>
    

</html>