<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <header>
            <h1 class="title jumbotron">Create a City<br> <a class="home" href="/">Home</a><br> <a class="home" href="/cities">City Index</a></h1>
            <div class="main">
            <nav>
                <form action="/cities" method="POST">
                    <label>Name</label>
                    <input class="login" type="text" name="name" placeholder="City Name" required />
                    <input class="btn btn-dark" type="submit" value="Create City" />
                </form>
            </nav>
            </div>
        </header>
        <div class="main-city-container">
        <main>
    
        </main>
        </div>
        <footer>
            <p class="footer">Eat, drink, and be merry. Tomorrow you may die</p>
        </footer>
    </body>

</html>