<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1 class="title jumbotron">Your Restaurants<br> <a class="home" href="/">Home</a></h1>
			<nav>
				<ul class="nav nav-pills nav-fill">
					<li class="nav-item">
						<a class="nav-link" href="/restaurants/new">Create a New Restaurant</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="main-restaurant-container main">
        <main>
			 
			<div class="dropdown show">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Restaurants
				</a>
			  
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<% for(let i = 0; i < restaurant.length; i++) { %>
				  <a class="dropdown-item" href="/restaurants/<%= restaurant[i]._id %>"><%= restaurant[i].name %></a>
				  <% } %>
				</div>
			  </div>
                
                    
		</main>
		</div>
		<footer>
			<p class="footer">Eat, drink, and be merry. Tomorrow you may die</p>
		</footer>
	</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>