<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Your Restaurants</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/restaurants/new">Create a New Restaurant</a>
					</li>
				</ul>
			</nav>
        </header>
        <main>
			
            <ul>
                <% for(let i = 0; i < restaurant.length; i++) { %>
                    <li>
                        <a href="/restaurants/<%= restaurant[i]._id %>"><%= restaurant[i].name %></a>
					</li>
                <% } %>
            </ul>
        </main>
	</body>
</html>