<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
	</head>
	<body>
		<header>
			<h1 class="title jumbotron">Create a Restaurant<br><a class="home" href="/">Home</a><br><a class="home" href="/restaurants">Restaurant Index</a></h1>
			<nav>
				<ul>
				</ul>
			</nav>
		</header>
		<div class="main">
		<main>
			<form action="/restaurants" method="POST">
				<select class="btn btn-dark" name="city">
					<% for(let i = 0; i < city.length; i++) { %>
						<option value="<%= city[i]._id %>"><%= city[i].name %></option>
					<% } %>
				</select><br>
                <input class="login" type="text" name="name" placeholder="Name" required /><br/>
				<input class="login" type="text" name="location" placeholder="Address" /><br/>
				<input class="login" type="text" name="type" placeholder="Type of Food"/><br/>
                <input class="login" type="number" max="5" min="1" name="rating.food" placeholder="Food Rating" /><br/>
                <input class="login" type="number" max="5" min="1" name="rating.drinks" placeholder="Drinks Rating"/><br/>
                <input class="login" type="number" max="5" min="1" name="rating.service" placeholder="Service Rating" /><br/>
                <input class="login" type="number" max="5" min="1" name="rating.ambiance" placeholder="Ambiance Rating" /><br/>
                Comments: <br/><textarea name="comments"></textarea><br/>
                
				<input class="btn btn-dark" type="submit" value="Create Restaurant"/>
			</form>
		</main>
		</div>
	</body>
</html>